// Inspired by Bureau Gorbunov https://bureau.ru/soviet/20190221/
$width-sm: 0px;
$width-md: 960px;
$width-lg: 1400px;

// Thanks Paratype https://www.paratype.com/
$font-family-sans: 'PT Sans', sans-serif;
$font-family-serif: 'PT Serif', serif;
$font-family-display: 'PT Sans Caption', sans-serif;

$font-size: 18px;  // By hand
$line-height: 27px;  // By hand

$p-font-size: $font-size;
$p-line-height: $line-height;
$p-margin-top: -11px;  // By measuring outer wrapper padding
$p-margin-bottom: -6px;  // By measuring outer wrapper padding
$p-wrapper-margin-bottom: 17px;  // By making white lines equal in neighbor paragraphs
$p-text-indent: 27px;  // By hand

$h1-font-size: 3 * $p-font-size;
$h1-line-height: 76px;  // By aligning left and right lines
$h1-margin-top: -30px;  // By measuring outer wrapper padding
$h1-margin-bottom: -20px;  // By measuring outer wrapper padding
$h1-wrapper-margin-bottom: 60px;  // By aligning left and right lines and measuring in Krita

$h2-font-size: 2 * $p-font-size;
$h2-line-height: $h2-font-size + ($h2-font-size / 2);
$h2-margin-top: -20px;  // By measuring outer wrapper padding
$h2-margin-bottom: -13px;  // By measuring outer wrapper padding
$h2-wrapper-margin-bottom: 33px;  // By aligning left and right lines and measuring in Krita

$h3-font-size: $p-font-size;
$h3-line-height: $p-line-height;
$h3-margin-top: -10px;  // By measuring outer wrapper padding
$h3-margin-bottom: $p-margin-bottom;
$h3-wrapper-margin-bottom: 16px;  // By aligning left and right lines

$leadin-letter-spacing: 2px;
$leadin-font-size: 90%;

$interline:      18px;
$big-interline:  27px;

$one-line:     45px;
$one-and-half-lines: 63px;
$two-lines:    2 * $one-line;
$three-lines:  3 * $one-line;

// Inspired by Bureau Gorbunov https://bureau.rocks/books/ui-en/demo/
$page-first-top-padding-sm: 40px;
$page-last-top-padding-sm: 20px;
$page-first-bottom-padding-sm: $page-last-top-padding-sm;
$page-last-bottom-padding-sm: $page-first-top-padding-sm;
$page-inner-padding-sm: calc(100vw / 2 / 9 * 0.75);
$page-outer-padding-sm: $page-inner-padding-sm;

// From Jan Tschichold's “The Form of the Book”,
// adjusted to better fit on screen.
// Inspired by Bureau Gorbunov https://bureau.rocks/books/ui-en/demo/
$page-top-padding-md: calc(100vh / 9 / 2 * 1.5);
$page-bottom-padding-md: calc(100vh / 9 / 2 * 1.5 * 2);
$page-inner-padding-md: calc(100vw / 2 / 9 * 0.75);
$page-outer-padding-md: calc(100vw / 2 / 9 * 1.5);
