// Grid

$width-sm: 0px;
$width-md: 1000px;
$width-lg: 2000px;

$viewports: (
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
);


// Books

$spread-header-size-sm: calc(100vh / 9 / 2);
$spread-footer-size-sm: calc(100vh / 9 / 2 * 1.5);
$spread-header-size-md: calc(100vh / 9 / 2 * 1.5);
$spread-footer-size-md: calc(100vh / 9 / 2 * 1.5 * 2);

$page-outer-padding-sm: calc(100vw / 2 / 9 * 0.75);
$page-outer-padding-md: calc(100vw / 2 / 9 * 1.5);
$page-inner-padding-sm: calc(100vw / 2 / 9 * 0.75);
$page-inner-padding-md: calc(100vw / 2 / 9 * 0.75);
