// Viewport and field variables.
// Inspired by Bureau Gorbunov https://bureau.ru/soviet/20190221/

$default-field-width: 6vw;
$grid-columns-count: 16;
$grid-columns-shortcut: repeat($grid-columns-count, 1fr);

.row {
	display: grid;
	grid-column-gap: var(--font-size);
}

@include only-viewport('sm') {
  .row {
    grid-template-columns: $grid-columns-shortcut
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@include only-viewport('md') {
  .row {
    grid-template-columns: $grid-columns-shortcut
  }
  .container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@include only-viewport('lg') {
  .row {
    grid-template-columns: $grid-columns-shortcut
  }
  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@include media-breakpoint-between($width-sm, $width-md) {
  [class^='col-'],
  [class^='off-'] { grid-column: 1 / -1 }
}

@each $viewport, $width in $viewports {
  $infix: get-breakpoint-infix($viewport);

  @include media-breakpoint-up($width) {
    .col#{$infix} { grid-column: 1 / -1 }

    @for $span from 1 through $grid-columns-count {
      .off-#{$span}#{$infix} { grid-column-start: $span + 1 }
      .col-#{$span}#{$infix} { grid-column-end: span $span }
    }
  }
}
