// Constants

$font-size:     18px;
$grid-cell:     $font-size / 2;
$line-height:   $font-size + $grid-cell;

:root {
  --font-family-sans:            'PT Sans', sans-serif;
  --font-family-sans-narrow:     'PT Sans Narrow', sans-serif;
  --font-family-sans-caption:    'PT Sans Caption', sans-serif;
  --font-family-serif:           'PT Serif', serif;
  --font-family-serif-caption:   'PT Serif Caption', serif;
  --font-family-mono:            'PT Mono', monospace;

  --color-white:      #ffffff;
  --color-light:      #f8f9fa;
  --color-lightgray:  #dee2e6;
  --color-gray:       #adb5bd;
  --color-darkgray:   #495057;
  --color-dark:       #212529;
  --color-black:      #000000;

  --width-sm: #{$width-sm};
  --width-md: #{$width-md};
  --width-lg: #{$width-lg};

  --font-size: #{$font-size};
  --grid-cell: #{$grid-cell};
  --line-height: #{$line-height};
}


// Spacers

$one-cell:     $grid-cell;
$two-cells:    2 * $one-cell;
$three-cells:  3 * $one-cell;

$interline:      18px;
$big-interline:  $interline + $grid-cell;

$one-line:     45px;
$two-lines:    2 * $one-line;
$three-lines:  3 * $one-line;

:root {
  --one-cell:     #{$one-cell};
  --two-cells:    #{$two-cells};
  --three-cells:  #{$three-cells};

  --interline:      #{$interline};
  --big-interline:  #{$big-interline};

  --one-line:     #{$one-line};
  --two-lines:    #{$two-lines};
  --three-lines:  #{$three-lines};
}

.one-cell-below     { margin-bottom: var(--one-cell) !important }     // 9px
.two-cells-below    { margin-bottom: var(--two-cells) !important }    // 18px
.three-cells-below  { margin-bottom: var(--three-cells) !important }  // 36px

.interline-below      { margin-bottom: var(--interline) !important }      // 18px
.big-interline-below  { margin-bottom: var(--big-interline) !important }  // 27px

.one-line-below     { margin-bottom: var(--one-line) !important }     // 45px
.two-lines-below    { margin-bottom: var(--two-lines) !important }    // 90px
.three-lines-below  { margin-bottom: var(--three-lines) !important }  // 135px

.unspaced-above   { margin-top: 0 !important }


// Fields

article {
  padding-bottom: var(--two-lines);
}


// Wrappers

.h1-wrapper,
.h2-wrapper,
.h3-wrapper,
.ul-wrapper,
.ol-wrapper,
.p-wrapper,
.pre-wrapper,
.figcaption-wrapper {
  display: flex;

  // If not direct child of .spaced-below (means that .spaced-below > h1 will have its bottom margin)
  // and not has .spaced-below (means that h1.spaced-below will preserve its bottom margin)
  // and not has .figcaption-wrapper (means that .figcaption-wrapper always preserves its bottom margin)
  // and is last child (means that if .spaced-below has multiple children, only last will lose its margin)
  // then remove bottom margin
  :not([class~='spaced-below']) > &:not([class~='spaced-below']):not([class~='figcaption-wrapper']):last-child {
  	margin-bottom: 0;
  }
}


// Headings

h1, h2, h3 {
  font-family: var(--font-family-sans-caption)
}


// Heading one

$h1-font-size-sm: (3 * $font-size);
$h1-font-size-md: (5 * $font-size);

h1 {
  font-size: $h1-font-size-sm;
  line-height: $h1-font-size-sm + (3 * $grid-cell);
  margin-top: -32px;
  margin-bottom: -20px;
}

@include media-breakpoint-up($width-md) {
  h1 {
    font-size: $h1-font-size-md;
    line-height: $h1-font-size-md + (3 * $grid-cell);
    margin-top: -45px;
    margin-bottom: -25px;
  }
}

.h1-wrapper {
  margin-top: var(--two-lines);
  margin-bottom: var(--two-lines);
}


// Heading two

$h2-font-size-sm: (1.5 * $font-size);
$h2-font-size-md: (2 * $font-size);

h2 {
  font-size: $h2-font-size-sm;
  line-height: $h2-font-size-sm + $grid-cell;
  margin-top: -14px;
  margin-bottom: -8px;
}

@include media-breakpoint-up($width-md) {
  h2 {
    font-size: $h2-font-size-md;
    line-height: $h2-font-size-md + $grid-cell;
    margin-top: -17px;
    margin-bottom: -9px;
  }
}

.h2-wrapper {
  margin-top: var(--two-lines);
  margin-bottom: var(--one-line);
}


// Heading three, paragraph, figcaption, subscription, indent

p,
h3,
figcaption {
  font-size: $font-size;
  line-height: $line-height;
  margin-top: -11px;
  margin-bottom: -7px;
}

figcaption,
.subscription {
	font-family: var(--font-family-sans);
}

.subscription {
	font-style: italic;
}

.h3-wrapper {
  margin-top: calc(var(--one-line) + var(--interline));
  margin-bottom: var(--interline);
}

.p-wrapper {
  margin-bottom: var(--one-line);
}

.figcaption-wrapper {
	margin-top: var(--interline);
  margin-bottom: var(--interline);
}

.indent {
  font-family: var(--font-family-sans);
	margin-left: (3 * $grid-cell);
	margin-right: (3 * $grid-cell);
}

.p-wrapper + .indent-wrapper,
.p-wrapper + .pre-wrapper {
  margin-top: -($font-size)  // Matches big interline
}

figure + .p-wrapper {
  margin-top: var(--one-line);
}

// Image, picture, figure

img {
  max-width: 100%;
  height: auto;

  &:not([src]) { visibility: hidden }

  &.loading { border: none }
}

.picture-wrapper {
  border: 1px solid var(--color-lightgray);
  background-color: var(--color-lightgray);
}

.picture-wrapper-outer {
  position: relative;
}

.picture-wrapper-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.picture-wrapper-transparent {
	background-color: transparent;
}

.picture-wrapper-borderless {
  border: none;
}

figure + figure {
  margin-top: var(--one-line);
}


// Pre

$pre-font-size: $font-size;
$pre-line-height: $line-height;
$pre-top-compensator: 10px;
$pre-bottom-compensator: 8px;

pre {
  font-size: $pre-font-size;
  line-height: $pre-line-height;
  margin-top: -$pre-top-compensator;
  margin-bottom: -$pre-bottom-compensator;
}

pre {
	white-space: pre-wrap;
	margin-right: $two-cells;
}

.pre-wrapper {
  margin-bottom: $one-line + $grid-cell;
}


// --- --- --- --- --- --- --- Legacy shit --- --- --- --- --- --- --- --- //

$no-lines-height:     18px;

:root {
  --font-size: #{$font-size};
  --line-height: #{$line-height};

  --color-crimson:    #d70000;

	--link-color:                   #0064a8;
	--link-color-hover:             #a03000;
  --link-underline-color:         rgba(0,  100, 168, 0.2);
  --link-underline-color-hover:   rgba(160, 48,   0, 0.2);

	--text-color: var(--color-dark);
	--background-color: var(--color-white);
}


// Hanging punctuation

$laquo-width: 8px;
$laquo-width-figcaption: $laquo-width + 1px;

$lpar-width: 6px;
$lpar-width-figcaption: $lpar-width + 1px;

.hanging-laquo              { margin-left: -$laquo-width }
.hanging-laquo-whitespace   { margin-right: $laquo-width }

.hanging-lpar               { margin-left: -$lpar-width }
.hanging-lpar-whitespace    { margin-right: $lpar-width }

.no-hanging,
strike {
	@include no-hanging;
}


// Paragraph, figcaption, subscription, reference

figcaption {
	@include no-hanging;
}



// Link

.inline-link {
	color: var(--link-color);
	display: inline-block;
}

.link {
	border-bottom: 1px solid var(--link-underline-color);
}

a img {
  transition: transform 0.3s;
}

a.inline-link:hover,
a:hover .inline-link {
	color: var(--link-color-hover);
}

a:hover .link {
	border-bottom: 1px solid var(--link-underline-color-hover);
}

a:hover img {
	transform: scale(1.025)
}


// Hyphens

body {
	hyphens: manual;
}


// Code highlight

.pre-wrapper.highlight-wrapper {
	border-right: 1px dashed var(--color-lightgray);

  .lineno {
    @include no-select;
	  color: var(--color-gray);
	  margin-right: $grid-cell;
  }
}
