// Wrappers

.h1-wrapper,
.h2-wrapper,
.h3-wrapper,
.ul-wrapper,
.ol-wrapper,
.p-wrapper,
.pre-wrapper,
.figcaption-wrapper {
  display: flex;

  // If not direct child of .spaced-below (means that .spaced-below > h1 will have its bottom margin)
  // and not has .spaced-below (means that h1.spaced-below will preserve its bottom margin)
  // and not has .figcaption-wrapper (means that .figcaption-wrapper always preserves its bottom margin)
  // and is last child (means that if .spaced-below has multiple children, only last will lose its margin)
  // then remove bottom margin
  :not([class~='spaced-below']) > &:not([class~='spaced-below']):not([class~='figcaption-wrapper']):last-child {
  	margin-bottom: 0;
  }
}


// Image, picture, figure

img {
  max-width: 100%;
  height: auto;

  &:not([src]) { visibility: hidden }

  &.loading { border: none }
}

.picture-wrapper {
  border: 1px solid var(--color-lightgray);
  background-color: var(--color-lightgray);
}

.picture-wrapper-outer {
  position: relative;
}

.picture-wrapper-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.picture-wrapper-transparent {
	background-color: transparent;
}

.picture-wrapper-borderless {
  border: none;
}

figure + figure {
  margin-top: var(--one-line);
}


// --- --- --- --- --- --- --- Legacy shit --- --- --- --- --- --- --- --- //

$no-lines-height:     18px;

:root {
  --font-size: #{$font-size};
  --line-height: #{$line-height};

  --color-crimson:    #d70000;

	--link-color:                   #0064a8;
	--link-color-hover:             #a03000;
  --link-underline-color:         rgba(0,  100, 168, 0.2);
  --link-underline-color-hover:   rgba(160, 48,   0, 0.2);

	--text-color: var(--color-dark);
	--background-color: var(--color-white);
}


// Hanging punctuation

$laquo-width: 8px;
$laquo-width-figcaption: $laquo-width + 1px;

$lpar-width: 6px;
$lpar-width-figcaption: $lpar-width + 1px;

.hanging-laquo              { margin-left: -$laquo-width }
.hanging-laquo-whitespace   { margin-right: $laquo-width }

.hanging-lpar               { margin-left: -$lpar-width }
.hanging-lpar-whitespace    { margin-right: $lpar-width }

.no-hanging,
strike {
	@include no-hanging;
}


// Paragraph, figcaption, subscription, reference

figcaption {
	@include no-hanging;
}



// Link

--link-color:                   #0064a8;
--link-color-hover:             #a03000;
--link-underline-color:         rgba(0,  100, 168, 0.2);
--link-underline-color-hover:   rgba(160, 48,   0, 0.2);


.inline-link {
	color: var(--link-color);
	display: inline-block;
}

.link {
	border-bottom: 1px solid var(--link-underline-color);
}

a img {
  transition: transform 0.3s;
}

a.inline-link:hover,
a:hover .inline-link {
	color: var(--link-color-hover);
}

a:hover .link {
	border-bottom: 1px solid var(--link-underline-color-hover);
}

a:hover img {
	transform: scale(1.025)
}


// Hyphens

body {
	hyphens: manual;
}


// Code highlight

.pre-wrapper.highlight-wrapper {
	border-right: 1px dashed var(--color-lightgray);

  .lineno {
    @include no-select;
	  color: var(--color-gray);
	  margin-right: $grid-cell;
  }
}
