// Disable different crazy shit

@mixin no-hanging {
	.hanging-laquo              { margin-left:  0 }
	.hanging-laquo-whitespace   { margin-right: 0 }

	.hanging-lpar               { margin-left:  0 }
	.hanging-lpar-whitespace    { margin-right: 0 }
}


@mixin no-hyphens {
  hyphens: none;
}


@mixin no-select {
  -webkit-touch-callout:  none;
  -webkit-user-select:    none;
  -khtml-user-select:     none;
  -moz-user-select:       none;
  -ms-user-select:        none;
  user-select:            none;
}


// Breakpoint traversing

@function get-breakpoint-infix($viewport) {
  @return if($viewport == sm, '', '-#{$viewport}');
}


@mixin media-breakpoint-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}


@mixin media-breakpoint-up($width) {
  @media (min-width: $width) {
    @content;
  }
}


@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}


@mixin media-breakpoint-sm {
  @media (max-width: $width-md - 1px) {
    @content;
  }
}
