#gradient-area { height: 100vh }
#gradient-container {
  margin-left: 0;
  margin-right: 0;
}

.ta-center { text-align: center }
.va-top { vertical-align: top }
.fs-0 { font-size: 0 }

.bg-red             { background-color: #ee3233 }
.bg-red-orange      { background-color: #f25647 }
.bg-orange          { background-color: #f46e39 }
.bg-orange-yellow   { background-color: #faa62c }
.bg-yellow          { background-color: #f4ea30 }
.bg-yellow-green    { background-color: #b2e43d }
.bg-green           { background-color: #48b862 }
.bg-green-blue      { background-color: #10b8c3 }
.bg-blue            { background-color: #1c88c6 }
.bg-blue-purple     { background-color: #3f4b9f }
.bg-purple          { background-color: #74489b }
.bg-purple-red      { background-color: #a2427f }
.bg-black           { background-color: #000000 }
.bg-grey            { background-color: #808080 }

.b-black { border-color: black }
.b-thick { border-width: 2px }

.circle {
  border-radius: 50%;
  vertical-align: middle;
  border: 0.7em solid white;
}

#copy {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.circle {
  height: 2.25em;
}

.circle,
#link-main,
#copy {
  display: inline-block;
  width: 2.25em;
}

#link-main {
  vertical-align: bottom;
}

#link-main,
#link-main:hover {
  color: unset;
}

[data-input-type='multiple'] [data-multiple-option-selected='true'].circle {
  border: 0.25em solid white;
}

[data-input-type='multiple'] [data-multiple-option-selected='true'].circle:hover {
  transform: scaleX(0.9) scaleY(0.9);
}

#home:hover,
#copy:hover,
.circle:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

#home:active,
#copy:active {
  transform: scaleX(0.9) scaleY(0.9);
}

#gradient-area:hover,
#home:hover,
#copy:hover,
.circle:hover {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

@media (min-width: 960px) {
  .d-inline-block-md {
    display: inline-block;
  }
}
