#border-example [class$="-wrapper"] {
  border: 1px solid var(--color-dark);
  color: var(--color-gray);
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: calc(var(--width-md) - 1px)) {
  #border-example [class$="-wrapper"] {
    margin-bottom: var(--one-line-height);
  }
}

.columns-example {
  font-family: var(--font-family-mono);
}

.columns-example div:nth-child(odd) {
  background-color: var(--color-lightgray);
}

.columns-example div:nth-child(even) {
  background-color: var(--color-gray);
}

#fields-example {
  background-color: var(--color-lightgray);
}

#fields-example .row {
  background-color: var(--color-white);
}
